<template>
  <div>
    <h1>Hello world</h1>
  </div>
</template>

<style lang="sass" scoped>
h1
  color: red
</style>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    
  },
})
</script>
